{% from 'macros.html' import patientNavBar %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Dose</title>              
        <style>
          .mdl-layout__header {
        background-color: rgb(211, 15, 69) !important;
        color: white;
    }

        </style>
</head>
<body>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="INR_update.css">

    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">{{user["Name"]}}</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
        </div>
        </header>
        {{ patientNavBar(user) }}
        <main class="mdl-layout__content">
            <div class="page-content" style="padding-top:50px">


                {% if tdyComp == "false" %}
                <center>
                    <!-- Deletable Contact Chip -->
                    <span class="mdl-chip mdl-chip--contact" style="background: rgba(102, 212, 207, 0.3);">
                        <img class="mdl-chip__contact" src="{{url_for('static', filename='images/info.png')}}"></img>
                        <span class="mdl-chip__text">{{tdy}} - Take dose</span>
                    </span>
                </center>
                <br>
                {% else %}
                <center>
                    <!-- Deletable Contact Chip -->
                    <span class="mdl-chip mdl-chip--contact" style="background: rgba(102, 212, 207, 0.3);">
                        <img class="mdl-chip__contact" src="{{url_for('static', filename='images/info.png')}}"></img>
                        <span class="mdl-chip__text">{{tdy}} - Today's Dose <b>Taken</b> </span>
                    </span>
                </center>
                <br>
                {% endif %}

                {% for i in missed_doses %}
                <center>
                    <!-- Deletable Contact Chip -->
                    <span class="mdl-chip mdl-chip--contact" id="doseChip-{{i}}" style="background-color: pink;">
                        <img class="mdl-chip__contact" src="{{url_for('static', filename='images/warning.png')}}"></img>
                        <span class="mdl-chip__text">{{i}} - Missed dose</span>
                    </span>
                </center>
                <script>
                    // JavaScript
                    document.getElementById('doseChip-{{i}}').addEventListener('click', function() {
                        // Prompt for logging dose
                        var logDose = confirm("Log dose for {{i}}?", "");

                        if (logDose) {
                            // Prompt for dosage taken

                            var dosageTaken = parseFloat(prompt("Input dosage taken on {{i}} in mg. {% if i | dosageOnDay %}To have taken {{i | dosageOnDay}} mg on {{i}}.{% endif %}", {% if i | dosageOnDay %}{{i | dosageOnDay}}{% endif %}));
                            
                            if (!isNaN(dosageTaken)) {
                                // Confirm log
                                var confirmLog = confirm("Confirm log " + dosageTaken + " mg of {{i | dosageOnDay}} mg on {{i}}?");
                                
                                if (confirmLog) {
                                    window.location.href = "/patient/take-dose?strength=" + dosageTaken + "&date={{i}}";
                                }
                            } else {
                                alert("Invalid input for dosage taken. Please enter a valid number.");
                            }
                        }
                    });
                </script>
                <br>
                {% endfor %}

                <center>
                    <!-- Event card -->
                    <style>
                        .demo-card-event.mdl-card {
                            width: 75%;
                        background: #3E4EB8;
                        }
                        .demo-card-event > .mdl-card__actions {
                        border-color: rgba(255, 255, 255, 0.2);
                        }
                        .demo-card-event > .mdl-card__title,
                        .demo-card-event > .mdl-card__actions,
                        .demo-card-event > .mdl-card__actions > .mdl-button {
                        color: #fff;
                        }
                        </style>
                        {% if takeToday %}
                        {% if tdyComp=="false" %}
                            <div class="demo-card-event mdl-card mdl-shadow--2dp" style="bottom: 30px;height: auto; left: 15%; position:absolute;">
                            <div class="mdl-card__title mdl-card--expand">
                                <h6 style="text-align: left;">
                                {{now}}<br>
                                Drug : <b>{{drug["type"]}}</b><br>
                                Total Dosage level : <b>{{drug["strength"]}}</b><hr>
                                Days to take : <b>{{", ".join(drug["days"])}}</b><br>
                                </h6>
                            </div>
                            <form method="POST" style="padding-left:20px;color: white;">
                                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                    <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" value="{{drug['strength']}}" id="drugStrength" name="strength" style="color:white;">
                                    <label class="mdl-textfield__label" for="drugStrength" style="color:whitesmoke;">Strength (in mg)</label>
                                    <span class="mdl-textfield__error">Input is not a number!</span>
                                </div>
                                <div class="mdl-card__actions mdl-card--border">
                                    <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="btn">
                                    <p id="btnText" style="color:white;">Click When Taken <i class="material-icons">check</i></p>
                                    </button>
                                </div>
                            </form>
                            </div>

                          <script>
                            var btn = document.getElementById("btn");
                            var btnText = document.getElementById("btnText");

                            btn.onclick = function() {
                            btnText.innerHTML = "Thanks";
                            btn.classList.add("active");
                            }
                            </script>
                        {% endif %}
                        {% endif %}
                </center>
            </div>
        </main>
    </div>
</body>
</html>