{% from 'macros.html' import navBar %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Patient Form</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
          function validateDosage(input) {
              input.value = input.value.replace(/[^0-9.]/g, ''); // Allow only numbers and dot
              input.value = input.value.replace(/(\..*)\./g, '$1'); // Remove multiple dots
          }
    </script>    
    <style>
      .demo-card-wide > .mdl-card__menu {
        color: #fff;
      }
      .history-card {
        display: flex;
        flex-wrap: wrap;
        padding: 16px;
        align-items: center;
      }
      .history-card > .mdl-textfield {
        width: calc(50% - 16px);
        margin-right: 16px;
      }
      .history-card > .mdl-button {
        width: 48px;
        height: 48px;
        margin-left: 16px;
        line-height: 48px;
        text-align: center;
      }
      .mdl-button--icon {
        width: auto;
        height: auto;
        line-height: initial;
        padding: 0;
      }
      .history-card > .mdl-button i {
        font-size: 24px;
      }
      .mdl-selectfield {
        width: 100%;
      }
      .gender-card {
        display: flex;
        align-items: center;
        padding: 16px;
      }
      .gender-card > .mdl-selectfield {
        width: calc(50% - 16px);
        margin-right: 16px;
      }
      .mdl-layout__drawer.is-visible {
        position: fixed;
      }
      .mdl-layout__obfuscator.is-visible {
          position: fixed;
      }
    </style>
  </head>
  <body>
    <!-- Uses a transparent header that draws on top of the layout's background -->
    <style>
    .demo-layout-transparent {
        height: 100vh!important;
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: grey;
      position: sticky!important;
      top: 0!important;
    }
    </style>
    
    
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
  {{ navBar(user, menu) }}
    </div>

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">New Patient</span>
        </div>
        </header>
    </div>
    <br><br>
    <br><br>
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__supporting-text">
        <form method="POST">
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="name" name="name" pattern="[A-Z,a-z, ]*">
              <label class="mdl-textfield__label" for="name">Name</label>
            </div>
          </div>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="^\d*(\.\d{0,2})?$" id="target-inr-fro" name="target-inr-fro">
              <label class="mdl-textfield__label" for="target-inr">Target INR (from)</label>
            </div>
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" pattern="^\d*(\.\d{0,2})?$" id="target-inr-to" name="target-inr-to">
              <label class="mdl-textfield__label" for="target-inr">Target INR (to)</label>
            </div>
          </div>

          <!-- Age & Gender Section -->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="number" id="age" name="age"/>
              <label class="mdl-textfield__label" for="age">Age</label>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" maxlength="1" style="text-transform:uppercase" id="gender" name="gender"/>
              <label class="mdl-textfield__label" for="Gender">Gender (M/F/O)</label>
            </div>
          </div>

          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="date" id="start-date" name="start-date">
              <label class="mdl-textfield__label" for="start-date">Therapy Start Date</label>
            </div>
          </div>

          <!-- History Section -->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col">
              <p>Medical History (Date - Description)</p>
              <div id="history-section">
                <div class="history-inputs">
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <select class="mdl-textfield__input" id="history-duration-1" name="history-duration-1">
                      <option value="3 Months">3 Months</option>
                      <option value="6 Months">6 Months</option>
                      <option value="Life-Long/Indefinite">Life-Long/Indefinite</option>
                    </select>
                    <label class="mdl-textfield__label" for="history-duration-1">Duration</label>
                  </div>
                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                    <textarea class="mdl-textfield__input" type="text" rows="3" id="text-1" name="history-text-1" oninput="validateDescription(this)"></textarea>
                    <label class="mdl-textfield__label" for="history-text-1">Description</label>
                </div>
                
                <script>
                    function validateDescription(input) {
                        input.value = input.value.replace(/[^a-zA-Z0-9\s]/g, ''); // Allow only alphanumeric characters and spaces
                    }
                </script>
                  <i class="material-icons add-history-input" onclick="addHistoryInput()">add_circle</i>
                </div>
              </div>
            </div>
          </div>

          <script>
              var counter = 1;

              function addHistoryInput() {
                  counter++;
                  var historyContainer = document.getElementById("history-section");
                  var newHistory = document.createElement("div");
                  newHistory.setAttribute("id", "history-" + counter);
                  newHistory.innerHTML = `
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                      <select class="mdl-textfield__input" id="history-duration-${counter}" name="history-duration-${counter}">
                        <option value="3 Months">3 Months</option>
                        <option value="6 Months">6 Months</option>
                        <option value="Life-Long/Indefinite">Life-Long/Indefinite</option>
                      </select>
                      <label class="mdl-textfield__label" for="history-duration-${counter}"></label>
                    </div>
                      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                          <textarea class="mdl-textfield__input" type="text" rows= "3" id="text-${counter}" name="history-text-${counter}" oninput="validateDescription(this)"></textarea>
                          <label class="mdl-textfield__label" for="text-${counter}">Description</label>
                      </div>
                      <i class="material-icons" onclick="removeHistoryInput(${counter})">remove_circle_outline</i>
                  `;
                  historyContainer.appendChild(newHistory);
                  // componentHandler.upgradeElement(newHistory);
                  // Upgrade MDL textfield component
                  componentHandler.upgradeElements(newHistory.querySelectorAll('.mdl-textfield'));
              }

              function removeHistoryInput(id) {
                  var historyToRemove = document.getElementById("history-" + id);
                  historyToRemove.remove();
              }
          </script>


          <!-- Contact Number Section -->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--12-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="tel" pattern="[0-9]{10}" id="contact" name="contact"/>
              <label class="mdl-textfield__label" for="contact">Contact Number</label>
              <span class="mdl-textfield__error">Input is not a valid Indian Contact Number!</span>
            </div>
          </div>

          <!-- Kin Name & Contact Number Section -->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="text" id="kin-name" name="kin-name" pattern="[A-Z,a-z, ]*"/>
              <label class="mdl-textfield__label" for="kin-name">Kin Name</label>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
              <input class="mdl-textfield__input" type="tel" pattern="[0-9]{10}" id="kin-contact" name="kin-contact"/>
              <label class="mdl-textfield__label" for="kin-contact">Kin Contact Number</label>
              <span class="mdl-textfield__error">Input is not a valid Indian Contact Number!</span>
            </div>
          </div>

          <div style="margin-left: 15px;">
          <div style="display: flex; align-items: center;">
            <label style="margin-right: 10px;">Therapy:</label>
            <select name="type" style="padding: 8px 10px; border-radius: 5px; border: 1px solid lightgray;">
              <option value="Acitrom">Acitrom</option>
              <option value="Warfarin">Warfarin</option>
            </select>
          </div>
          <div style="display:none; align-items: center; margin-top: 20px;">
            <div style="display: flex; align-items: center; margin-top: 20px;">
              <label style="margin-right: 10px;">Before Food:</label>
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="before-food">
                <input type="checkbox" name="before_food" id="before-food" class="mdl-switch__input" checked/>
                <span class="mdl-switch__label"></span>
              </label>
            </div>
            <div style="display: flex; align-items: center; margin-top: 20px;">
              <label style="margin-right: 10px;">After Food:</label>
              <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="after-food">
                <input type="checkbox" name="after_food" id="after-food" class="mdl-switch__input"/>
                <span class="mdl-switch__label"></span>
              </label>
            </div>
          </div>
          <div style="display:none; align-items: center; margin-top: 20px;">
            <label style="margin-right: 10px;">Morning:</label>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="morning">
              <input type="checkbox" id="morning" name="morning" class="mdl-switch__input"/>
              <span class="mdl-switch__label"></span>
            </label>
          </div>
          <div style="display:none; align-items: center; margin-top: 20px;">
            <label style="margin-right: 10px;">Evening (Around 6PM) :</label>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="evening">
              <input type="checkbox" id="evening" name="evening" class="mdl-switch__input" checked/>
              <span class="mdl-switch__label"></span>
            </label>
          </div>
          <div style="display:none; align-items: center; margin-top: 20px;">
            <label style="margin-right: 10px;">Night:</label>
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="night">
              <input type="checkbox" id="night" name="night" class="mdl-switch__input"/>
              <span class="mdl-switch__label"></span>
            </label>
          </div>
          <div class="mdl-grid">
            <table>
              <tr style="border: none;padding: 8px;background-color: transparent;">
                <th style="border: none;padding: 8px;background-color: transparent;">
                <div class="mdl-cell mdl-cell--3-col">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day-1">
                    <input type="checkbox" id="day-1" name="MON" {% if MON %}checked{% endif %}  class="mdl-checkbox__input" />
                    <span class="mdl-checkbox__label" style="color: black;">Monday</span>
                  </label>
                </div>
                </th>
                <th style="border: none;padding: 8px;background-color: transparent;">
                  <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                    <span class="mdc-text-field__ripple"></span>
                    <input class="mdc-text-field__input" type="text" placeholder="Dosage" name="MON-dose" aria-label="Label" oninput="validateDosage(this)">
                    <span class="mdc-line-ripple"></span> <p style="color: black;">mg</p>
                  </label>
                </th>
              </tr>
              <tr style="border: none;padding: 8px;background-color: transparent;">
                <th style="border: none;padding: 8px;background-color: transparent;">
                  <div class="mdl-cell mdl-cell--3-col">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day-2">
                      <input type="checkbox" id="day-2"  name="TUE" {% if TUE %}checked{% endif %} class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label" style="color: black;">Tuesday</span>
                    </label>
                  </div>
                </th>
                <th style="border: none;padding: 8px;background-color: transparent;">
                  <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                    <span class="mdc-text-field__ripple"></span>
                    <input class="mdc-text-field__input" type="text" placeholder="Dosage" name="TUE-dose" aria-label="Label" oninput="validateDosage(this)">
                    <span class="mdc-line-ripple"></span><p style="color: black;">mg</p>
                  </label>
                </th>
              </tr>
              <tr style="border: none;padding: 8px;background-color: transparent;">
                <th style="border: none;padding: 8px;background-color: transparent;">
                  <div class="mdl-cell mdl-cell--3-col">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day-3">
                      <input type="checkbox" id="day-3"  name="WED" {% if WED %}checked{% endif %} class="mdl-checkbox__input" />
                      <span class="mdl-checkbox__label" style="color: black;">Wednesday</span>
                    </label>
                  </div>
                </th>
                <th style="border: none;padding: 8px;background-color: transparent;">
                  <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                    <span class="mdc-text-field__ripple"></span>
                    <input class="mdc-text-field__input" type="text" placeholder="Dosage" name="WED-dose" aria-label="Label" oninput="validateDosage(this)">
                    <span class="mdc-line-ripple"></span><p style="color: black;">mg</p>
                  </label>
                </th>
                </tr>
                <tr style="border: none;padding: 8px;background-color: transparent;">
                  <th style="border: none;padding: 8px;background-color: transparent;">
                      <div class="mdl-cell mdl-cell--3-col">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day-4">
                          <input type="checkbox" id="day-4"  name="THU" {% if THU %}checked{% endif %} class="mdl-checkbox__input" />
                          <span class="mdl-checkbox__label" style="color: black;">Thursday</span>
                        </label>
                      </div>
                  </th>
                  <th style="border: none;padding: 8px;background-color: transparent;">
                    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                      <span class="mdc-text-field__ripple"></span>
                      <input class="mdc-text-field__input" type="text" placeholder="Dosage" name="THU-dose" aria-label="Label" oninput="validateDosage(this)">
                      <span class="mdc-line-ripple"></span><p style="color: black;">mg</p>
                    </label>
                  </th>
                  </tr>
                  <tr style="border: none;padding: 8px;background-color: transparent;">
                    <th style="border: none;padding: 8px;background-color: transparent;">
                      <div class="mdl-cell mdl-cell--3-col">
                        <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day-5">
                          <input type="checkbox" id="day-5"  name="FRI" {% if FRI %}checked{% endif %} class="mdl-checkbox__input" />
                          <span class="mdl-checkbox__label" style="color: black;">Friday</span>
                        </label>
                      </div>
                    </th>
                    <th style="border: none;padding: 8px;background-color: transparent;">
                      <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                        <span class="mdc-text-field__ripple"></span>
                        <input class="mdc-text-field__input" type="text" placeholder="Dosage" name="FRI-dose" aria-label="Label" oninput="validateDosage(this)">
                        <span class="mdc-line-ripple"></span><p style="color: black;">mg</p>
                      </label>
                    </th>
                  </tr>
                <tr style="border: none;padding: 8px;background-color: transparent;">
                  <th style="border: none;padding: 8px;background-color: transparent;">
                    <div class="mdl-cell mdl-cell--3-col">
                      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day-6">
                        <input type="checkbox" id="day-6"  name="SAT" {% if SAT %}checked{% endif %} class="mdl-checkbox__input" />
                        <span class="mdl-checkbox__label" style="color: black;">Saturday</span>
                      </label>
                    </div>
                  </th>
                  <th style="border: none;padding: 8px;background-color: transparent;">
                    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                      <span class="mdc-text-field__ripple"></span>
                      <input class="mdc-text-field__input" type="text" placeholder="Dosage" name="SAT-dose" aria-label="Label" oninput="validateDosage(this)">
                      <span class="mdc-line-ripple"></span><p style="color: black;">mg</p>
                    </label>
                  </th>
                </tr>
              <tr style="border: none;padding: 8px;background-color: transparent;">
                <th style="border: none;padding: 8px;background-color: transparent;">
                    <div class="mdl-cell mdl-cell--3-col">
                      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="day-7">
                        <input type="checkbox" id="day-7"  name="SUN" {% if SUN %}checked{% endif %} class="mdl-checkbox__input" />
                        <span class="mdl-checkbox__label" style="color: black;">Sunday</span>
                      </label>
                    </div>
                  </th>
                  </th>
                  <th style="border: none;padding: 8px;background-color: transparent;">
                    <label class="mdc-text-field mdc-text-field--filled mdc-text-field--no-label">
                      <span class="mdc-text-field__ripple"></span>
                      <input class="mdc-text-field__input" type="text" placeholder="Dosage" name="SUN-dose" aria-label="Label" oninput="validateDosage(this)">
                      <span class="mdc-line-ripple"></span><p style="color: black;">mg</p>
                    </label>
                  </th> 
                  </tr>
                  </table>
                </div>

          </div></div>
          <button style="margin-top: 10px;" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Add Patient</button>
          <br/></form></div><br/></div><br/></body></html>