{% macro navBar(user, menu="lowerMenu") %}
<style>
  .mdl-layout__drawer .is-visible{
    z-index: 10;
  }
</style>
<div class="mdl-layout__drawer" style="background: rgba( 255, 255, 255, 0.75 ); box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); backdrop-filter: blur( 4px ); -webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border-top-left-radius: 0px;border-bottom-left-radius: 0px; border: 1px solid rgba( 255, 255, 255, 0.18 );">
    <br/>
    <span class="mdl-layout-title"><b>Menu</b></span>
    <br/>
    <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="{{url_for('doctor_home')}}" style="font-family: Arial, Helvetica, sans-serif;color:rgb(0,0,0)"><span class="material-icons">diversity_1</span>&nbsp;&nbsp;&nbsp;&nbsp;View all patients</a>
          <hr style="border-top: 1px solid rgba(105,105,110,0.35)!important;" />
          <a class="mdl-navigation__link" href="{{url_for('doctor_today_reports')}}" style="font-family: Arial, Helvetica, sans-serif;color:rgb(28,28,30)"><span class="material-icons">summarize</span>&nbsp;&nbsp;&nbsp;&nbsp;Today's INR Reports</a>
          <hr style="border-top: 1px solid rgba(105,105,110,0.35)!important;" />
          {% if menu=="higherMenu" %}
          <a class="mdl-navigation__link" href="{{url_for('new_patient_creation')}}" style="font-family: Arial, Helvetica, sans-serif;color:rgb(28,28,30)"><span class="material-icons">person_add</span>&nbsp;&nbsp;&nbsp;&nbsp;Add new patient</a>
          {% endif %}
          <a style="padding-top: 40vh;"></a>
          <div style="height: 75px; width: 75px; border-radius: 50%; padding-left: 20px;">
            <img src="{{user['PFP']}}" style="width: 100%; border-radius: 50%;">
          </div>
          <h6 style="padding-left: 20px;color:black;">{{user['fullName']}}<br/><p>{{user['category']}}</p></h6>
          <br/>
          <a class="mdl-navigation__link" href="{{url_for('logout')}}" style="font-family: Arial, Helvetica, sans-serif;">Log out</a>
        </nav>
  </div>
{% endmacro %}

{% macro patientNavBar(user) %}
<div class="mdl-layout__drawer" style="background: rgba( 255, 255, 255, 0.75 ); box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); backdrop-filter: blur( 4px ); -webkit-backdrop-filter: blur( 4px ); border-radius: 10px;border-top-left-radius: 0px;border-bottom-left-radius: 0px; border: 1px solid rgba( 255, 255, 255, 0.18 );">
        <span class="mdl-layout-title">Menu</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="{{url_for('patient_home')}}"><span class="material-icons">monitor_heart</span>&nbsp;&nbsp;&nbsp;&nbsp;Dosage Dashboard</a>
            <a class="mdl-navigation__link" href="{{url_for('take_dose')}}"><span class="material-icons">medical_services</span>&nbsp;&nbsp;&nbsp;&nbsp;Take Dose</a>
            <a class="mdl-navigation__link" href="{{url_for('update_INR_pat')}}"><span class="material-icons">vaccines</span>&nbsp;&nbsp;&nbsp;&nbsp;Update INR</a>
            <hr/>
            <a class="mdl-navigation__link" href="{{url_for('other_medication')}}"><span class="material-icons">emergency</span>&nbsp;&nbsp;&nbsp;&nbsp;Report Other medications</a>
            <a class="mdl-navigation__link" href="{{url_for('prolonged_illness')}}"><span class="material-icons">sick</span>&nbsp;&nbsp;&nbsp;&nbsp;Report Recent Illness</a>
            <a class="mdl-navigation__link" href="{{url_for('side_effects')}}"><span class="material-icons">masks</span>&nbsp;&nbsp;&nbsp;&nbsp;Report Side Effects</a>
            <hr/>
            <a class="mdl-navigation__link" href="{{url_for('patient_profile')}}"><span class="material-icons">person</span>&nbsp;&nbsp;&nbsp;&nbsp;My Profile</a>

            <div style="height: 50px; width: 50px; border-radius: 50%; overflow: hidden;padding-left: 20px;">
              <img src="{{user['PFP']}}" style="width: 100%">
            </div>
            <p style="padding-left: 20px;color:black;">{{user['name']}}</p>
            <a class="mdl-navigation__link" href="{{url_for('logout')}}" style="font-family: Arial, Helvetica, sans-serif;"><span class="material-icons">logout</span>&nbsp;&nbsp;&nbsp;&nbsp;Log out</a>
        </nav>

</div>
{% endmacro %}
